---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [95]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head()

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
dtype: object

In [120]:
def date_sorter():
    import re

#     04/20/2009; 04/20/09; 4/20/09; 4/3/09
#     \d{1,2}[/-]\d{1,2}[/-]\d{2,4}

#     04/20/2009; 04/20/09; 4/20/09; 4/3/09
#     Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
#     (?P<month>\d?\d)[/|-](?P<day>([0-2]?[0-9])|([3][01]))[/|-](?P<year>[\d{4}|\d{2}]) # use this because anexpection '4.9/36/308
#     (?P<month>\d?\d)[/|-](?P<day>\d?\d)[/|-](?P<year>\d{4})
#     (?P<month>\d?\d)[/|-](?P<day>\d?\d)[/|-](?P<year>\d{2})  
#     (?P<month>\d?\d)[/|-](?P<day>([0-2]?[0-9])|([3][01]))[/|-](?P<year>\d{2})

#     20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
#     (?P<day>\d?\d) ?(?P<month>[a-zA-Z]{3,})\.?,? (?P<year>\d{4})

#     Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
#     (?P<month>[a-zA-Z]{3,})\.?-? ?(?P<day>\d\d?)(th|nd|st)?,?-? ?(?P<year>\d{4})


#     Feb 2009; Sep 2009; Oct 2010
#     (?P<month>[A-Z][a-z]{3,}),?\.? (?P<year>\d{4})
#     r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[,]? (?P<year>\d{4})'

#     6/2008; 12/2009
#     r'(?P<month>\d{1,2})[/](?P<year>\d{4})'

#     2009; 2010
#     r'?P<year>\d{4}'


    month_dict = {'Jan': 1, 'Feb': 2,'Mar': 3,'Apr': 4,'May': 5,'Jun': 6,
                  'Jul': 7, 'Aug': 8,'Sep': 9, 'Oct': 10,'Nov': 11,'Dec': 12,   
                  'Janaury': 1, 'February': 2,'March': 3,'April': 4,'June': 6,
                  'July': 7, 'August': 8, 'September': 9,'October': 10,'November': 11,'Decemeber': 12,             
                  'Sin': 1, 'Age': 8}

    # work on mm-dd-yyyy format
    df_ans0 = df.str.extractall(r'(?P<month>\d?\d)[/|-](?P<day>\d?\d)[/|-](?P<year>\d{4})')
    remain_index1 = ~df.index.isin([index[0] for index in df_ans0.index])

    df_ans1 = df_ans0.append(df[remain_index1].str.extractall(r'(?P<month>\d?\d)[/|-](?P<day>([0-2]?[0-9])|([3][01]))[/|-](?P<year>\d{2})'))
    remain_index2 = ~df.index.isin([index[0] for index in df_ans1.index])

    # work on dd mmm yyyy format
    df_ans2 = df_ans1.append(df[remain_index2].str.extractall(r'(?P<day>\d?\d) ?(?P<month>[a-zA-Z]{3,})\.?,? (?P<year>\d{4})'))
    remain_index3 = ~df.index.isin([index[0] for index in df_ans2.index])

    # work on Mar 20th, 2009 format
    df_ans3 = df_ans2.append(df[remain_index3].str.extractall(r'(?P<month>[A-Za-z]{3,})\.?-? ?(?P<day>\d\d?)(th|nd|st)?,?-? ?(?P<year>\d{4})'))
    remain_index4 = ~df.index.isin([index[0] for index in df_ans3.index])

    # work on 'Feb 2009' format:
    df_ans4 = df_ans3.append(df[remain_index4].str.extractall(r'(?P<month>[A-Z][a-z]{2,}),?\.? (?P<year>\d{4})'))
    remain_index5 = ~df.index.isin([index[0] for index in df_ans4.index])

    # work on '6/2008' format
    df_ans5 = df_ans4.append(df[remain_index5].str.extractall(r'(?P<month>\d{1,2})[/](?P<year>\d{4})'))
    remain_index6 = ~df.index.isin([index[0] for index in df_ans5.index])

    # work on '2009' format
    df_ans6 = df_ans5.append(df[remain_index6].str.extractall(r'(?P<year>\d{4})'))
    # drop the useless column (last column)
    df_ans = df_ans6.iloc[:, :-1]

    # work on year
    df_ans['year'] = df_ans['year'].apply(lambda x: '19'+ x if len(x)==2 else x)
    # df_ans['year'] = df_ans['year'].apply(lambda x: str(x))

    # work on month
    df_ans['month'] = df_ans['month'].apply(lambda x: x[:3] if type(x) is str else x)
    df_ans = df_ans.replace(month_dict)
    # df_ans['month'] = df_ans['month'].astype('float')
    # # df_ans['month'] = df_ans['month'].apply(lambda x: str(x))

    df_ans.fillna(1, inplace=True)

    df_ans['year'] = df_ans['year'].apply(lambda x: str(x))
    df_ans['month'] = df_ans['month'].apply(lambda x: str(x))
    df_ans['day'] = df_ans['day'].apply(lambda x: str(x))

    df_ans['date'] = df_ans['month'] + '/' + df_ans['day'] + '/' + df_ans['year']
    df_ans['date'] = pd.to_datetime(df_ans['date'])

    df_ans = df_ans.sort_values(by='date')
    return_rank = pd.Series(list(df_ans.index.labels[0]))
    
    return return_rank

date_sorter()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
30     162
31     154
32     402
33      95
34      73
35     108
36     156
37     332
38     182
39      82
40     351
41     278
42     214
43     155
44     223
45     473
46      49
47     317
48      11
49     319
50      40
51     418
52     165
53     370
54     382
55       3
56      50
57     363
58     219
59     465
60     237
61      23
62     342
63     204
64     258
65     315
66      27
67      93
68      17
69     488
70     303
71     395
72     283
73     309
74     419
75     123
76      19
77     117
78     232
79      72
80     189
81     369
82     318
83     493
84     239
85     148
86     105
87     336
88       6
89     200
90      81
91      65
92     434
93     164
94     378
95     313
96     495
97     424
98     398
99       5
100    254
101    296
102     75
103    167
104     21
105    259
106    499
107    347
108    150
109     78
110    340
111    441
112    361
113    267
114    221
115    466
116     39
117    134
118    197
119    355
120    430
121     80
122    246
123    444
124     85
125    215
126    263
127     74
128    403
129    458
130     16
131     25
132    127
133    454
134     70
135     44
136     59
137    103
138    112
139    429
140     88
141    179
142    470
143    358
144    205
145    294
146    397
147    137
148    295
149     35
150    438
151    247
152    209
153     61
154    107
155    285
156    175
157     99
158    455
159     24
160    275
161    421
162     48
163    426
164    489
165    136
166     30
167    274
168     10
169    178
170      1
171    447
172    280
173    185
174    228
175    135
176     69
177    492
178    199
179    352
180      8
181    276
182    230
183    334
184     96
185     38
186    368
187    261
188    404
189    168
190     29
191    437
192    423
193     54
194    284
195    485
196     68
197     32
198    349
199     41
200     63
201    416
202     55
203    130
204    116
205     76
206    462
207    330
208     37
209    256
210    390
211    216
212    174
213    180
214    476
215    312
216    265
217    115
218     71
219    218
220    202
221    440
222    385
223    373
224    210
225     89
226    149
227     26
228      7
229    435
230    482
231    177
232    157
233    412
234     22
235    194
236     14
237    151
238    233
239    206
240    245
241    122
242     94
243    226
244     97
245     91
246     51
247     33
248    453
249     67
250     46
251    461
252    322
253     66
254    399
255    487
256    138
257     62
258    211
259     52
260    269
261    119
262    100
263    442
264    310
265    143
266    301
267    113
268    478
269    298
270    272
271    354
272      0
273    249
274    192
275     86
276    172
277    357
278    331
279    300
280    477
281    450
282    163
283    308
284    196
285     47
286    133
287    359
288     64
289     42
290    409
291    406
292    238
293    483
294    193
295    311
296    140
297    388
298     56
299    236
300    372
301    110
302    248
303     60
304    181
305    203
306    326
307     90
308    169
309    292
310    479
311    142
312      4
313    124
314    324
315    121
316    131
317    166
318    468
319    365
320    213
321     87
322    353
323    101
324    333
325    114
326    459
327     45
328    338
329     18
330    222
331    343
332     20
333    224
334     12
335     79
336    387
337    251
338    120
339    471
340     77
341    376
342    327
343    432
344    384
345    321
346    212
347    407
348    266
349    145
350    201
351    456
352    305
353    260
354    420
355    329
356    392
357    417
358    190
359    158
360    443
361     83
362    374
363    457
364    125
365    328
366    159
367    195
368    147
369    377
370    367
371    394
372    494
373    304
374    446
375     43
376    262
377    128
378    102
379    449
380    184
381    469
382    452
383    234
384    362
385    356
386    144
387    484
388    291
389    188
390    414
391     92
392    241
393    306
394    350
395    425
396    281
397    207
398    126
399    302
400    146
401    451
402    498
403    339
404    250
405    344
406    346
407    348
408    496
409    106
410    118
411    270
412    433
413    307
414    173
415    410
416    490
417    252
418    314
419    391
420    277
421    325
422    264
423    289
424    160
425    341
426    132
427    428
428    337
429    445
430    497
431    187
432    183
433    396
434    271
435    293
436    400
437    360
438    297
439    371
440    491
441    389
442    386
443    379
444    288
445    268
446    472
447    273
448    287
449    448
450    176
451    411
452    408
453    242
454    364
455     58
456    467
457    170
458     15
459    240
460    316
461    229
462    217
463    109
464    227
465    290
466    460
467    393
468    282
469     34
470    220
471    243
472    208
473    139
474    320
475    383
476    286
477    244
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    231
495    427
496    141
497    186
498    161
499    413
dtype: int64